
<% if obj.errors.any? %>
  <div data-alert class="alert alert-danger">
  以下不得為空白：
    <% obj.errors.full_messages.each do |msg| %>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
