


<div class="container">

  <div class='row'>
    <h1 class="text-danger">Hot EDM NEWS
      <%= link_to '發佈新文章 +',new_post_path,class:'btn btn-danger pull-right' %>
      <hr>
    </h1>
      
  </div>

  <div class="row">
    
    <div class="col-md-10 col-md-offset-1"> 
      
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          <% @post.each do |post| %>
            <%= render 'posts',post:post %>
          <% end %>
                       
        </div>
      </div>
                                                                                                                                     
    </div><!--/col-12-->
  </div>
</div>

<div class="apple_pagination">
    <%= will_paginate @post %>
</div>
