<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; <%= image_tag '../iEDM_gold.jpg',size: "100x52" %> 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    
                    <li>
                        <a href="https://www.facebook.com/PartycrazyEM?fref=ts">
                            <i class="fa fa-facebook "></i></a>
                    </li>
                   
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li >Privacy Policy</li>
                    <li >Terms of Use</li>
                </ul>
            </div>
        </div>
    </div>
</footer>